@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #161717;
}

h3 {
    color: white;
}

.container {    
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 450px;
}

.separator {
    display: flex;
    width: 100vw;
    gap: 15px;

}

.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.separator span {
    color: #8b8b8b;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
}

form span {
    color: white;
}

input {
    color: white;
}

.section-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
}

label span {
    font-weight: 700;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-inputs label input {
    width: 80%;
    background-color: #212121;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
}

label input {
    width: 90%;
    background-color: #212121;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

label input:hover {
    background-color: #454045;
    border: solid 1px #fefef4;
    box-shadow: 0 0 4px #eb50ff4f;
}

label input:focus {
    background-color: #454045;
    border: solid 1px #fefef4;
    box-shadow: 0 0 4px #eb50ff4f;
}

.submit-btn {
    background-color: #ea4c89;
    color: white;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 0.75;
}